.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 6rem 2rem 6rem;
  min-height: 100vh;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  position: relative;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  background-color: rgba(var(--nav-background-rgb), 0.5);

  z-index: 1;
  font-family: var(--font-mono);
}

/* .navigation a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem; 
} */

.navigation div {
  margin: 0;
  padding: 0.4rem;
  padding-bottom: 0.2rem;

  border: 1px solid rgba(var(--nav-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  line-height: 1.5em;
  color: #0000;
  transition: rotate 0.5s, translate 1s;
  transition-timing-function: linear;
}

.card h2 {
  font-weight: 600;
  line-height: 1.4em;
  font-size: 1.4em;
  color: #0000;
  margin-bottom: 0.7rem;
  text-shadow: 0 0 #404040, 0 1.4em #00b33e;
  overflow: hidden;
  transition: text-shadow 0.5s, font-size 1s;
  transition-delay: font-size 0.2s;
}

.card p {
  margin: 0;
  opacity: 0.6;
  color: #404040;
  font-size: 0.9rem;
  transition: font-size 1s;
  transition-delay: 0.2s;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -500px;
}

.center::after {
  background: var(--primary-glow);
  width: 420px;
  height: 300px;
  border-radius: 45%;
  margin-left: -2rem;
  margin-top: -400px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(65px);
  transform: perspective(3rem) translateZ(0);
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover h2 {
    text-shadow: 0 -1.6em #000, 0 0 #00b33e;
    font-size: 1.6em;
  }
  .card:hover span {
    rotate: -45deg;
    translate: 10px 0px;
  }
  .card:hover p {
    font-size: 1em;
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 0rem 6rem 0rem 6rem;
    min-height: 85vh;
  }

  .grid {
    grid-template-columns: 1fr;
    /* margin-bottom: 120px; */
    max-width: 320px;
    text-align: center;
  }

  .card {
    /* padding: 1rem 2.5rem; */
    display: none;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 2rem 0 0 0;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .navigation {
    /* font-size: 0.8rem; */
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(var(--nav-background-rgb), 0.1);
  }

  .navigation a {
    margin: 0;
  }

  .navigation div {
    /* align-items: flex-end; */
    pointer-events: none;
    /* padding: 2rem; */

    /* height: 200px; */
    /* background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--nav-background-end-rgb)) 40%
    ); */
    width: fit-content;
    border-top: 1px solid rgba(var(--nav-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 0.5),
      rgba(var(--nav-background-rgb), 1)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main {
    padding: 0rem 5rem;
    min-height: 100vh;
  }
  .navigation {
    display: none;
  }

  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (min-width: 1121px) {
  .main {
    padding: 0rem 5rem;
    min-height: 100vh;
  }

  .navigation {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
